<form class="content">
    <h1>Excluir Categoria</h1>

    <mat-form-field class="form">
        <mat-label>Nome</mat-label>
        <input [(ngModel)]="categoria.nome" disabled matInput type="text" name="nome">
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Descrição</mat-label>
        <input [(ngModel)]="categoria.descricao" disabled matInput type="text" name="descricao">
    </mat-form-field>

    <div class="buttons">
        <button (click)="delete()" mat-stroked-button class="mat-elevation-z8" color="primary">Excluir</button>
        <button mat-stroked-button class="mat-elevation-z8" color="warn">Cancelar</button>
    </div>
</form>
