<mat-drawer-container container class="container1">

    <mat-drawer mode="side" opened>
        <mat-nav-list>

            <div *ngIf="mostrarMenu">
                <a routerLink=""><mat-list-item>
                    <mat-icon>home</mat-icon>
                    Home
                </mat-list-item></a>
                <a routerLink="/categorias"><mat-list-item>
                    <mat-icon>menu_book</mat-icon>
                    Categorias
                </mat-list-item></a>
            </div>

            <a routerLink="/login"><mat-list-item>
                <mat-icon>login</mat-icon>
                Login
            </mat-list-item></a>

        </mat-nav-list>
    </mat-drawer>

    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
    
  </mat-drawer-container>