form{
    width: 10%;
    margin: 1.4rem auto;
}

h1{
    font-size: 1.5rem;
    color: gray;
    margin-bottom: 2rem;
}

.form{ 
    width: 100%;
}
.buttons{
    justify-content: center;
    display: flex;
    gap: 20px;
    margin-top: 20px;
}