<form class="content">
    <h1>Adicionar nova Categoria</h1>

    <mat-form-field class="form">
        <mat-label>Nome</mat-label>
        <input matInput type="text" name="nome" placeholder="ex: Infantil">
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Descrição</mat-label>
        <input matInput type="text" name="descricao" placeholder="ex: Livros para crianças entre 5 e 8 anos">
    </mat-form-field>

    <div class="buttons">
        <button mat-stroked-button class="mat-elevation-z8" color="primary">Criar</button>
        <button mat-stroked-button class="mat-elevation-z8" color="warn">Cancelar</button>
    </div>
</form>
