.content{
    width: 90%;
    margin: 1.4rem auto;
}

h1{
    font-size: 1.5rem;
    color: gray;
    margin-bottom: 2rem;
}

.loginform{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.button_hide{
    position:absolute;
    bottom:30px;
    right:30px;
    width:10px;
    height:10px;
}

.buttons{
    justify-content:flex-start;
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.senha{
    position:relative;
    padding:0;
    margin:0;
}

@media (max-width: 770px){
    .form{
        width: 100%;
    }
}