<form class="content">
    <h1>Login</h1>

    <div class=form>
        <mat-form-field appearance="fill">
            <mat-label>Usuário</mat-label>
            <input [(ngModel)]="usuario.nome" name="nome" matInput type="text">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Senha</mat-label>
            <input [(ngModel)]="usuario.senha" name="senha" matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
    </div>

    <div class="buttons">
        <button (click)="fazerlogin()" mat-stroked-button class="mat-elevation-z8" color="primary">Entrar</button>
        <button mat-stroked-button class="mat-elevation-z8" color="primary">Criar conta</button>
        <button mat-stroked-button class="mat-elevation-z8" color="warn">Esqueci a senha</button>
    </div>

</form>
