form{
    width: 90%;
    margin: auto;
    text-align:center;
}

button{
    width: 100%;
    
}

.home{
    padding: 50px;
    margin: 20px 0;
}
.text{
    text-align: justify;
    padding: 50px;
}
